
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <a href="/api">메인 페이지 입니다.</a>
    <a href="/api/join">회원 가입 페이지 입니다.</a>
    <a href="/api/profile">프로필 페이지 입니다.</a>
    <a href="/api/reserve_1">예비1 페이지 입니다.</a>
    <a href="/api/reserve_2">예비2 페이지 입니다.</a>
    <a href="/api/reserve_3">예비3 페이지 입니다.</a>
    <h1>메인 페이지 입니다.</h1>
    <h3>코리아it의 망나가 되었다.</h3>
    <p>그들은 이제, IT 업계에서 누구도 함부로 건들 수 없는 존재가 되었다.</p>

    <div class="container">
      <div class="profile-wrap">
        <div class="profile">
          {% if user and user.id %}
            <div class="user-name">{{'안녕하세요! ' + user.nick + '님'}}</div>
            <div class="half">
              <div>팔로잉</div>
              <div class="count following-count">{{followingCount}}</div>
            </div>
            <div class="half">
              <div>팔로워</div>
              <div class="count follower-count">{{followerCount}}</div>
            </div>
          <input id="my-id" type="hidden" value="{{user.id}}">
          <a id="my-profile" href="/api/profile" class="btn">내 프로필</a>
          <a id="logout" href="/api/auth/logout" class="btn">로그아웃</a>
          <a id="kakaologout" href="/api/auth/kakao/logout" class="btn">카카오 로그아웃</a>
        {% else %}
        <form id="login-form" action="/api/auth/login" method="post">
            <div class="input-group">
            <label for="email">이메일</label>
            <input id="email" type="email" name="email" required autofocus>
            </div>
            <div class="input-group">
            <label for="password">비밀번호</label>
            <input id="password" type="password" name="password" required>
            </div>
            <a id="join" href="/api/join" class="btn">회원가입</a>
            <button id="login" type="submit" class="btn">로그인</button>
            <a id="kakao" href="/api/auth/kakao" class="btn">카카오톡</a>
        </form>
        {% endif %}
        </div>
        <footer>
        </footer>
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };
    </script>
  </body>
</html>